@use "../utils/" as *;

.toggle {
  border: none;
  display: grid;
  grid-template-columns: 1fr rem(60) 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: rem(4.8) rem(12);

  &__wrapper {
    height: rem(24);
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
  }

  input[type="radio"] {
    opacity: 0;
    margin: 0 rem(-2);
    height: rem(24);
    width: rem(20);
    z-index: 1;
    position: relative;

    &:focus ~ .toggle__button {
      border: 2px solid white;
    }
  }

  &__background {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(
      225deg,
      var(--toggle-bg-gradient-end) 0%,
      var(--toggle-bg-gradient-start) 98.02%
    );
    border-radius: rem(12);
    pointer-events: none;
  }

  &__button {
    width: rem(18);
    height: rem(18);
    border-radius: 50%;
    background-color: var(--dark-bg);
    position: absolute;
    left: rem(3);
    top: rem(3);
    right: 100%;
    transition: all 0.2s ease-in-out;
  }

  #dark:checked ~ .toggle__button {
    left: 3px;
    right: calc(100% - 21px);
  }

  #light:checked ~ .toggle__button {
    right: 3px;
    left: calc(100% - 21px);
  }

  #system:checked ~ .toggle__button {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  label {
    font-size: rem(14);
    align-self: center;

    &[for="dark"] {
      grid-column: 1/2;
      justify-self: end;
    }

    &[for="light"] {
      grid-column: 3/4;
      justify-self: start;
    }

    &[for="system"] {
      grid-column: 2/3;
      grid-row: 2/3;
      justify-self: center;
      align-self: start;
    }
  }
}
